services:
  postgres:
    image: postgres:15
    container_name: claps_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: claps_product_catalog
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Claps.ProductCatalog.Api/Dockerfile
    container_name: claps_api
    restart: always
    depends_on:
      - postgres
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=claps_product_catalog;Username=postgres;Password=postgres
    ports:
      - "8080:8080"

volumes:
  postgres_data:
